@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --crimson: 348 83% 47%;
    --caribbean: 155 100% 44%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 12 85% 79%;
    --primary-foreground: 12 88% 21%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.3rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply h-full
  }
}

@layer components {
  .custom-container {
    @apply w-[min(100%,640px)] ms-auto me-auto ps-2 pe-2;
  }

  .page {
    @apply w-[min(100%,1000px)] ms-auto me-auto ps-2 pe-2;
  }

  .form-failure {
    @apply border-l-4 border-crimson ps-2 text-sm;
  }

  .text-only {
    @apply !p-0 !bg-transparent !text-foreground hover:!text-foreground hover:!bg-transparent !font-light !text-base !border-0 !outline-0;
  }
}